.Rhistory
.Rprofile
*.csv
*.sav
*.sas7bdat
*.xlsx
*.xls
*.fff
*.log
*.tex
.Rproj.user
*.RData
*.txt
**/UI Function/cor_vs_lm.R
!Sim/sim_results_2022-05-08.RData
!Sim/sim_results_2022-05-08.csv
ArticleNotes.Rmd
!out.RData
!manuscript.pdf
